.hero {
  padding: 80px 20px;
  text-align: center;
}

.content {
  max-width: 750px;
  margin: 0 auto;
}

.lead {
  color: #9aa6b2;
  margin-top: 16px;
  font-size: 18px;
}

.actions {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.primaryBtn {
  background: #00bcd4;
  padding: 12px 20px;
  border-radius: 8px;
  color: #021016;
  text-decoration: none;
  font-weight: 600;
}

.secondaryBtn {
  border: 1px solid #00bcd4;
  padding: 12px 20px;
  border-radius: 8px;
  text-decoration: none;
  color: #00bcd4;
}
