.contactSection {
    padding: 30px 20px;
    text-align: center;
    background-color:#f8f9fa;;
  }
  
  .title {
    font-size: 2rem;
    color: #333;
    margin: 0 0 20px 0;
  }
  
  .description {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
    margin: 0;
  }
  
  .emailLink {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: #d14836; /* Gmail red color */
    font-size: 1.2rem;
    text-decoration: none;
  }
  
  .emailLink:hover {
    text-decoration: underline;
  }
  
  .gmailIcon {
    font-size: 2rem;
  }