.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  .githubLink {
    color: #2575fc;
    text-decoration: none;
    margin-left: 10px;
  }
  
  .githubLink:hover {
    text-decoration: underline;
  }